In [1]:
# https://www.guillaumedueymes.com/courses/formation_python/15.3-xarray_library/
import xarray as xr
#import warnings; warnings.filterwarnings(action='ignore')
from matplotlib import pyplot as plt

In [2]:
# open netcdf file
file = '/pampa/picart/Masks/mask_GEM5_ERA5grid'
data = xr.open_dataset(file)

# export netcdf to dataframe
df = data.to_dataframe()

# drop index lat lon, but keep columns
df = df.reset_index()

In [5]:
dft = df.loc[df.HU == True]

In [6]:
dft

         lat     lon    HU
1352   31.25  291.75  True
1591   31.50  291.25  True
1592   31.50  291.50  True
1593   31.50  291.75  True
1594   31.50  292.00  True
...      ...     ...   ...
34765  66.00  270.25  True
34997  66.25  268.00  True
34998  66.25  268.25  True
34999  66.25  268.50  True
35000  66.25  268.75  True

[17636 rows x 3 columns]