In [50]:
"""
Modify etc24_consec_v4.csv file in order for it to be compatible with 
/home/chen/codes/cir_disttr/Track_density_all_seasons.f90, which is the code
that Tin Chen used to compute the track density data. 
"""

'\nModify etc24_consec_v4.csv file in order for it to be compatible with \n/home/chen/codes/cir_disttr/Track_density_all_seasons.f90, which is the code\nthat Tin Chen used to compute the track density data. \n'

In [51]:
import pandas as pd

In [52]:
df = pd.read_csv("/pampa/cloutier/etc24_consec_v4.csv")

In [53]:
# Only keep relevant columns

df_rel = df[['storm', 'lifetime', 'datetime', 'latitude', 'longitude']]

In [54]:
# save dataframe in txt
fileout = '/pampa/cloutier/ERA5_stormtrack_filtered.txt'

with open(fileout, 'a') as f : 
    df_string = df_rel.to_string(index = False)
    f.write(df_string)

In [56]:
"""
Modify NAEC catalogue file in order for it to be compatible with 
/home/chen/codes/cir_disttr/Track_density_all_seasons.f90, which is the code
that Tin Chen used to compute the track density data. 
"""

lifetime    556
dtype: int64

In [66]:
cat = pd.read_csv('/home/data/ReAnalysis/ERA5/Storm_analysis/NAECv1/NAEC_1979_2020_v1.csv')

In [67]:
# Only keep relevant columns
cat_rel = cat[['storm', 'lifetime', 'datetime', 'latitude', 'longitude']]

# save dataframe in txt
fileout = '/pampa/cloutier/ERA5_all_stormtracks.txt'

with open(fileout, 'a') as f : 
    cat_string = cat_rel.to_string(index = False)
    f.write(cat_string)

In [68]:
cat_rel

         storm  lifetime    datetime  latitude  longitude
0            1         1  1979010101     41.25     275.75
1            1         2  1979010102     41.75     276.50
2            1         3  1979010103     42.50     277.25
3            1         4  1979010104     43.25     278.25
4            1         5  1979010105     43.75     279.00
...        ...       ...         ...       ...        ...
1833492  24604        29  2020123119     32.00     315.00
1833493  24604        30  2020123120     31.75     315.00
1833494  24604        31  2020123121     31.75     315.00
1833495  24604        32  2020123122     31.75     315.00
1833496  24604        33  2020123123     31.50     315.00

[1833497 rows x 5 columns]

lifetime    556
dtype: int64